# Node modules
node_modules/
backend/node_modules/
medtrack-blockchain/node_modules/

# build/cache
frontend/.parcel-cache/
frontend/dist/

# hardhat cache
medtrack-blockchain/cache/
medtrack-blockchain/artifacts/

# environment variables
.env

# logs
npm-debug.log